/*Estilos de labels*/
.title{
    -fx-font-size: 30px;
    -fx-font-family: 'Montserrat Medium';
    -fx-text-fill: #485260;
}

.subtitle{
    -fx-font-size: 25px;
    -fx-font-family: 'Montserrat Regular';
    -fx-text-fill: #485260;
}

.paragraph{
    -fx-font-size: 14px;
    -fx-font-family: 'Montserrat Regular';
    -fx-text-fill: #485260;
}

/* Estilos de Botones */

/* Estilos de Botones */
.button{
<<<<<<< HEAD
    -fx-background-color: #1D3557;
=======
-fx-cursor: hand;
}

.button_primary{
    -fx-background-color: #1D3557;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 19px;
    -fx-font-family: 'Montserrat';
}

.button_primary:hover{
    -fx-background-color: #13233A;
    -fx-cursor: hand;
}

.button_danger{
    -fx-background-color: #DB5461;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 19px;
    -fx-font-family: 'Montserrat';
}

.button_danger:hover{
    -fx-background-color: #923840;
    -fx-cursor: hand;
}

.button_success{
    -fx-background-color: #0F8B8D;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 19px;
    -fx-font-family: 'Montserrat';
}

.button_success:hover{
    -fx-background-color: #0A5C5E;
    -fx-cursor: hand;
}

.button_secondary{
    -fx-background-color: #FF6666;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 19px;
    -fx-font-family: 'Montserrat';
}

.button_secondary:hover{
    -fx-background-color: #AA4444;
    -fx-cursor: hand;
}

.button_text:hover{
    -fx-cursor: hand;
}

/* Estilos de TabPane */

*.tab-header-area *.tab-header-background {
  -fx-background-color: transparent !important;
}


.tab-pane {
  -fx-tab-min-width:208px;
  -fx-tab-max-width:208px;
  -fx-tab-border-color: #485260;
}

.tab {
  -fx-font-size: 15;
  -fx-background-color: #DDE1E6;
  -fx-background-radius: 25px 25px 0px 0px;
  -fx-font-family: 'Montserrat Medium';
  -fx-text-fill: #485260;
}

.tab:selected {
    -fx-background-color: #F9FCFF;
    outline: 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*Estilos de formulario */

.form-label{
    -fx-font-size: 18px;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #485260;
}


.form-tf{
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-color: #485260;
    -fx-border-radius: 5px;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 15px;
}

.checkbox{
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-color: #485260;
    -fx-border-radius: 5px;
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 15px;
}
